canvas {
  cursor:url(../resources/hand.png), -moz-zoom-in;
}
body{
  margin: 0px;
  overflow: hidden;
}

#minionDisplay {
  height: 350px;
  width: 200px;
  display: none;
  /*padding: 10px;*/
  background-color: rgba(0, 0, 0, 0.2);
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

#spellsDisplay {
  height: 50px;
  width: 200px;
  display: none;
  /*padding: 10px;*/
  background-color: rgba(0, 0, 0, 0.2);
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

#playerDisplay {
  height: 50px;
  width: 200px;
  display: none;
  /*padding: 10px;*/
  background-color: rgba(0, 0, 0, 0.2);
  font-family:Helvetica,Arial,sans-serif;
  font-size:10px;
  color: white;
  /*margin: 10px; */
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

.minionDetail {
  height: 85px;
  width: 200px;
  background-color: transparent;
  font-family:Helvetica,Arial,sans-serif;
  font-size:10px;
  color: white;
  margin: 10px; 
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

.spellDetail {
  height: 50px;
  width: 50px;
  background-color: transparent;
  font-family:Helvetica,Arial,sans-serif;
  font-size:10px;
  color: white;
  margin: 10px; 
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

.spellDetail.selected {
  color: #ffd700;
}