canvas {
  cursor:url(../resources/hand.png), -moz-zoom-in;
}

.display {
  height: 380px;
  width: 200px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.minionDetail {
  height: 75px;
  width: 200px;
  background-color: transparent;
  font-family:Helvetica,Arial,sans-serif;
  font-size:10px;
  color: white;
  margin: 10px; 
}